html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Shaped Sections */

/* Top */

.custom-shape-divider-bottom-1610754677 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610754677 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 82px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1610754677 .shape-fill {
  fill: #002E9E;
}

/* Bottom */

.custom-shape-divider-top-1610755106 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1610755106 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 82px;
}

.custom-shape-divider-top-1610755106 .shape-fill {
  fill: #002E9E;
}